<button class='simple-carousel__previous' {{action 'previous'}}>Previous</button>
<div class='simple-carousel__viewport'>
  {{#each list as |item|}}
    <div class='simple-carousel__item'>
      {{yield item}}
    </div>
  {{/each}}
</div>
<button class='simple-carousel__next' {{action 'next'}}>Next</button>
